@media screen and (max-width: 768px) {
    .container {
        width: auto;
    }
} 

p{
    color: blue;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    
}

.logo{
    width: 150px;
    height: auto;
    
}
